body {
    margin-top: 180px;
    margin-left: 65px;
    color: rgb(0, 0, 0);
    background-image: url(/assets/pp/gojo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 101vh;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 0px 3px #000000) drop-shadow(0px 0px 3px lightblue) !important;
    


}


.content {
    margin-left: 50px;
    padding: 50px;
}

.content.expanded {
    margin-left: 250px;
}

.avatar img {
    content: url(assets/pp/gojo.gif);
    transition: 1ms;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    border: 5px solid darkblue;
    width: 140px;
    height: 140px;
    margin-top: -60%;
    margin-left: 2%;


}

.avatar img:hover {
    transition: 1s;
    filter: grayscale(0%);
    content: url(assets/pp/gojos.gif);
    border: 5px solid lightblue;
    box-shadow: 0 0 60px #006b96;
}


.center {
    text-align: center;
    width: 550px;
    height: 650px;
}

.content {
    border-radius: 50%;
    margin-top: -1%;
    margin-left: 0%;
    padding: 20px;
    font-family: "Cascadia Mono";

}


.findme {
    border-radius: 50%;
    margin-top: 5%;
    margin-left: -5%;

    color: gray;
}

.social {
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 0%;
}

h3 {
    color: gray;
}




.projects {
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 5%;
}

.content h2 {
    margin-top: 10px;
}




.social .button {
    width: 85px;
    padding: 15px 15;
    border-radius: 35px;
    margin: 5px;

    font-weight: 600;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;

}

.button:hover {
    transition-duration: 0.1s;
    background-color: #003cff;
    color: #003cff;
    filter: drop-shadow(0px 0px 2px #000) drop-shadow(0px 0px 2px #0066ff) !important;
    text-shadow: #003cff 0px 0px 4px, #000 0px 0px 3px !important;
    transition: 1ms ease-in-out !important;
    color: lightblue;
    filter: drop-shadow(0px 0px 2px #000000) drop-shadow(0px 0px 2px lightblue) !important;
    text-shadow: lightblue 0px 0px 4px, #000 0px 0px 3px !important;
    transition: 1ms ease-in-out !important;

}


.skalpu {
    margin-left: 20px;
    text-decoration: none;
    font-size: 23px;
}

.blue {
    color: lightblue;
    filter: drop-shadow(0px 0px 2px #000000) drop-shadow(0px 0px 2px lightblue) !important;
    text-shadow: lightblue 0px 0px 4px, #000 0px 0px 3px !important;

}

.pink {
    color: #ffc0cb;
    filter: drop-shadow(0px 0px 2px #000) drop-shadow(0px 0px 2px #ffc0cb) !important;
    text-shadow: #ffc0cb 0px 0px 4px, #000 0px 0px 3px !important;

}

.blues {
    color: #006b96;
    filter: drop-shadow(0px 0px 2px #000) drop-shadow(0px 0px 2px #006b96) !important;
    text-shadow: #006b96 0px 0px 4px, #000 0px 0px 3px !important;

}



.darkblue {
    color: #0066ff;
    filter: drop-shadow(0px 0px 2px #000) drop-shadow(0px 0px 2px #0066ff) !important;
    text-shadow: #003cff 0px 0px 4px, #000 0px 0px 3px !important;
    transition: 0.15s ease-in-out !important;
}

.lilac:hover {
    filter: drop-shadow(0px 0px 2px #000) drop-shadow(0px 0px 3px #c8a2c8) !important;
    text-shadow: #c8a2c8 0px 0px 5px, #c8a2c8 0px 0px 3px, #000 0px 0px 3px !important;
    transition: 0.15s ease-in-out !important;
}

.pink:hover {
    filter: drop-shadow(0px 0px 2px #000) drop-shadow(0px 0px 3px #ffc0cb) !important;
    text-shadow: #ffc0cb 0px 0px 5px, #ffc0cb 0px 0px 3px, #000 0px 0px 3px !important;
    transition: 0.15s ease-in-out !important;
}

.brown:hover {
    filter: drop-shadow(0px 0px 2px #000) drop-shadow(0px 0px 3px #964b00) !important;
    text-shadow: #964b00 0px 0px 5px, #964b00 0px 0px 3px, #000 0px 0px 3px !important;
    transition: 0.15s ease-in-out !important;
}

.red:hover {
    filter: drop-shadow(0px 0px 2px #000) drop-shadow(0px 0px 3px #ff0000) !important;
    text-shadow: #ff0000 0px 0px 5px, #ff0000 0px 0px 3px, #000 0px 0px 3px !important;
    transition: 0.15s ease-in-out !important;
}
@media screen  {
    .bilgiler{
      width: 400px;
      height: 800px;
    }
  }