body {
    margin-left: -50px;
    color: rgb(0, 0, 0);
    background-image: url(/assets/pp/gojo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 101vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightblue;
    filter: drop-shadow(0px 0px 2px #000000) drop-shadow(0px 0px 2px lightblue) !important;
    text-shadow: lightblue 0px 0px 4px, #000 0px 0px 3px !important;


}

.navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.589);
    position: absolute;
    top: 0;
    width: 500px;
}


.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 185px;
    text-decoration: none;
}


.navbar a:hover {
    background: lightblue;
    color: darkblue;
}


.content {
    margin-left: 50px;
    padding: 100px;
}

.content.expanded {
    margin-left: 250px;
}
.avatar{
    margin-top: 0%;
}

.avatar img {
    content: url(assets/pp/gojo.gif);
    transition: 1ms;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    border: 5px solid darkblue;
    width: 140px;
    height: 140px;
    margin-top: -40%;
    margin-left: 65%;


}

.avatar img:hover {
    transition: 1s;
    filter: grayscale(0%);
    content: url(assets/pp/gojos.gif);
    border: 5px solid lightblue;
    box-shadow: 0 0 60px #006b96;
}



.avatar2 img {
    content: url(/assets/pp/john.gif);
    transition: 1ms;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    border: 5px solid darkblue;
    width: 140px;
    height: 135px;
    margin-top: -40%;
    margin-left: 20%;


}

.avatar2 img:hover {
    transition: 1s;
    filter: grayscale(0%);
    content: url(assets/pp/johns.gif);
    border: 5px solid lightblue;
    box-shadow: 0 0 60px #006b96;
}

.avatar2 {
    margin-top: -20px;
}





.center {
    text-align: center;
    width: 550px;
    height: 650px;
}

.content {
    border-radius: 50%;
    margin-top: -1%;
    margin-left: 0%;
    padding: 20px;
    font-family: "Cascadia Mono";

}


.findme {
    border-radius: 50%;
    margin-top: 5%;
    margin-left: -5%;

    color: gray;
}

.social {
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 0%;
}

h3 {
    color: gray;
}

.content h2,
h1,
h3 {
    font-weight: lighter;
    letter-spacing: 1px;
    width: 80%;
    margin: 10px auto;
}



.projects {
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 5%;
}

.content h2 {
    margin-top: 10px;
}





@media screen {
    .center {
        width: 420px;
        height: 250px;
    }

    .navbar {
        width: 500px;
        height: 50px;

    }
}

.social .button {
    width: 85px;
    padding: 15px 15;
    border-radius: 35px;
    margin: 5px;

    font-weight: 600;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;

}

.button:hover {
    transition-duration: 0.1s;
    background-color: #003cff;
    color: #003cff;
    filter: drop-shadow(0px 0px 2px #000) drop-shadow(0px 0px 2px #0066ff) !important;
    text-shadow: #003cff 0px 0px 4px, #000 0px 0px 3px !important;
    transition: 1ms ease-in-out !important;
    color: lightblue;
    filter: drop-shadow(0px 0px 2px #000000) drop-shadow(0px 0px 2px lightblue) !important;
    text-shadow: lightblue 0px 0px 4px, #000 0px 0px 3px !important;
    transition: 1ms ease-in-out !important;

}

.projects button {
    width: 85px;
    padding: 15px 0;
    border-radius: 35px;
    margin: 5px;
    text-align: center;
    font-weight: 600;
    background-color: white;
}

.skalpu {
    margin-left: 20px;
    text-decoration: none;
    font-size: 23px;
}

.blue {
    color: lightblue;
    filter: drop-shadow(0px 0px 2px #000000) drop-shadow(0px 0px 2px lightblue) !important;
    text-shadow: lightblue 0px 0px 4px, #000 0px 0px 3px !important;

}

.pink {
    color: #ffc0cb;
    filter: drop-shadow(0px 0px 2px #000) drop-shadow(0px 0px 2px #ffc0cb) !important;
    text-shadow: #ffc0cb 0px 0px 4px, #000 0px 0px 3px !important;

}

.blues {
    color: #006b96;
    filter: drop-shadow(0px 0px 2px #000) drop-shadow(0px 0px 2px #006b96) !important;
    text-shadow: #006b96 0px 0px 4px, #000 0px 0px 3px !important;

}



.darkblue {
    color: #0066ff;
    filter: drop-shadow(0px 0px 2px #000) drop-shadow(0px 0px 2px #0066ff) !important;
    text-shadow: #003cff 0px 0px 4px, #000 0px 0px 3px !important;
    transition: 0.15s ease-in-out !important;
}

.lilac:hover {
    filter: drop-shadow(0px 0px 2px #000) drop-shadow(0px 0px 3px #c8a2c8) !important;
    text-shadow: #c8a2c8 0px 0px 5px, #c8a2c8 0px 0px 3px, #000 0px 0px 3px !important;
    transition: 0.15s ease-in-out !important;
}

.pink:hover {
    filter: drop-shadow(0px 0px 2px #000) drop-shadow(0px 0px 3px #ffc0cb) !important;
    text-shadow: #ffc0cb 0px 0px 5px, #ffc0cb 0px 0px 3px, #000 0px 0px 3px !important;
    transition: 0.15s ease-in-out !important;
}

.brown:hover {
    filter: drop-shadow(0px 0px 2px #000) drop-shadow(0px 0px 3px #964b00) !important;
    text-shadow: #964b00 0px 0px 5px, #964b00 0px 0px 3px, #000 0px 0px 3px !important;
    transition: 0.15s ease-in-out !important;
}

.red:hover {
    filter: drop-shadow(0px 0px 2px #000) drop-shadow(0px 0px 3px #ff0000) !important;
    text-shadow: #ff0000 0px 0px 5px, #ff0000 0px 0px 3px, #000 0px 0px 3px !important;
    transition: 0.15s ease-in-out !important;
}