.body{

background-image: url(/assets/pp/gojo1.jpg);
        margin-right: -5%;
        margin-left: -5%;
        margin-top: -5%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100%;
        min-height: 125vh;
        display:flex ;
        justify-content: center;
        align-items: center;
        color: lightblue;
        filter: drop-shadow(0px 0px 2px #000000) drop-shadow(0px 0px 2px lightblue) !important;
        text-shadow: lightblue 0px 0px 4px, #000 0px 0px 3px !important;
    }
    
.navbar {
    overflow: flex;
    background-color: rgba(0, 0, 0, 0.589);
    position:flex;
    top: 0; 
    width: 11%; 
    background-color: #000000b4;
    color: lightblue;
    filter: drop-shadow(0px 0px 2px #000000) drop-shadow(0px 0px 2px lightblue) !important;
    text-shadow: lightblue 0px 0px 4px, #000 0px 0px 3px !important;
  }
  

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 30px;
    text-decoration: none;
  }
  
 
  .navbar a:hover {
    background: lightblue;
    color: darkblue;
  }
  

.bilgiler{
    display: center;
    background-color: #000000b4;
    color: lightblue;
    filter: drop-shadow(0px 0px 2px #000000) drop-shadow(0px 0px 2px lightblue) !important;
    text-shadow: lightblue 0px 0px 4px, #000 0px 0px 3px !important;

    
    
}
.avatar img {
    content: url(/assets/pp/gojo.gif);
    transition: 1ms;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    border: 5px solid #006b96;
    width: 140px;
    height: 140px;
    margin-top: -40%;
    margin-left: 35%;

    
}
.avatar img:hover{
transition: 1s;
filter: grayscale(0%);
content: url(/assets/pp/gojos.gif);
border: 5px solid lightblue;
box-shadow: 0 0 55px #006b96;
}