.body {
  background-image: url(/assets/pp/gojo1.jpg);
  margin-right: -5%;
  margin-left: -15%;
  margin-top: -1%;
  background-size: cover;
  background-position: 100%;
  min-height: 125vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  ;
}



.navbar {
  margin-top: 27px;
  overflow: hidden;
  margin-left: 46px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  width: 10%;
  background-color: #000000b4;
  color: lightblue;
  filter: drop-shadow(0px 0px 6px #000000) drop-shadow(0px 0px 2px lightblue) !important;
  text-shadow: lightblue 0px 0px 8px, #000 0px 0px 3px !important;
}


.navbar a {
  float: center;
  display: block;
  color: #f2f2f2;
  padding: 20px 15px;
  text-decoration: none;
}


.navbar a:hover {
  background: lightblue;
  color: darkblue;
}


.bilgiler {
  margin-top: 2%;
  margin-left: 8%;
  text-align: center;
  background-color: #000000b4;
  width: 75%;
  color: lightblue;
  filter: drop-shadow(0px 0px 6px #000000) drop-shadow(0px 0px 2px lightblue) !important;
  text-shadow: lightblue 0px 0px 8px, #000 0px 0px 3px !important;
}
